<!DOCTYPE html>
<html>
	<head>
        
		<meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Milestone</title>
        <link rel="stylesheet" href="/style.css" />
	</head>
    <body>
        <p style="text-align: center;">
		    <img src="/picture/CSAA LOGO.jpg" height="100">
        </p>
        <!-- <div class="nva">
            <table>
                <tbody>
                <tr>
                    <td style="background-color: rgb(235, 57, 57, 0.7);"><a id="robotics" href="../CSAA Website.html">HOME</a></td>
                    <td style="background-color: rgb(235, 57, 57, 0.7);"><a id="robotics" href="../CSAA Robotics.html">ROBOTICS</a></td>
                    <td style="background-color: rgb(235, 57, 57, 0.7);"><a id="robotics" href="../WEDO2.0.html">WEDO 2.0</a></td>
                    <td style="background-color: rgb(235, 57, 57, 0.7);"><a id="robotics" href="../SPIKE PRIME.html">SPIKE PRIME</a></td>
                    <td style="background-color: rgb(235, 57, 57, 0.7);"><a id="robotics" href="../VEXIQ.html">VEX IQ</a></td>
                    <td style="background-color: rgb(235, 57, 57, 0.7);"><a id="robotics" href="../VEXEDR.html">VEX EDR</a></td>
                </tbody>
            </table>
        </div>  -->
        <div class="backbutton">
            <img src="/picture/back_button.png" height="30" class="middle" onclick="history.back()">
            <a class="backbutton" onclick="history.back()">Back</a>
        </div>
        <br>
        <br>
            <div class="wedopic">
                <div class="Whole wedopic"></div>
            </div>
            <br>
            <div id="like_button_container"></div>
            <br>
            <hr />
            <p style="text-align: right;">
                <img id="footer" src="" height="120">
            </p>


            

            <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

            <script src="/react/milestoneTasks.js"></script>

	</body>
</html>